{% extends 'base.html.twig' %}

{% block body %}
<div class="row no-margin">
    <div class="col-lg-4 offset-lg-1">
        <img class="index_image" src="{{ asset('bundles/app/image/index_image.png') }}">
    </div>
    <div class="col-lg-6">
        <p> Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio del texto. Todos los generadores de Lorem Ipsum que se encuentran en Internet tienden a repetir trozos predefinidos cuando sea necesario, haciendo a este el único generador verdadero (válido) en la Internet. Usa un diccionario de mas de 200 palabras provenientes del latín, combinadas con estructuras muy útiles de sentencias, para generar texto de Lorem Ipsum que parezca razonable. Este Lorem Ipsum generado siempre estará libre de repeticiones, humor agregado o palabras no características del lenguaje, etc. </p>
    </div>
    
</div>

{% for proj in projects %}
<div class="row no-margin margin_top">
    <div class="col-lg-1 offset-lg-1">
        <img class ="bio_icon" src="{{ asset('bundles/app/image/snasa.png') }}">
    </div>
    <div class="col-lg-3 margin_top_img_index">
        <p><b> {{ proj.title }} </b></p>
    </div>
</div>
<div class="row no-margin margin_top">
    <div class="col-lg-7 offset-lg-1">
        <p> {{ proj.description }} </p>
    </div>
</div>
<div class="row no-margin">
    <div class="col-lg-7 offset-lg-1 color_text_link">
        <b>
            <a href="{{ proj.url }}"> Juan valdés </a>

        </b>
    </div>
</div>
{% endfor %}

{% endblock %}