<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Young Developers{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ asset('bundles/app/css/navbar.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/main.css') }}" type="text/css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="{{ asset('bundles/app/css/form.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/dashboard.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/inbox.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/app/bootstrap_table/bootstrap-table.css') }}" type="text/css" rel="stylesheet" />
    <script src="{{ asset('bundles/app/bootstrap_table/bootstrap-table.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>